<link rel="import" href="../../../../vendor/polymer/polymer.html">

<link rel="import" href="../../core/sandbox-router/sandbox-router.html">
<link rel="import" href="../../../styles/shared-styles.html">

<dom-module id="sandbox-app">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
    </style>

    <sandbox-router id="router"></sandbox-router>

  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'sandbox-app',
        attached: function() {
          // authorization can be performed here, before starting router
          this.$.router.start();
        }
      });
    })();
  </script>
</dom-module>
