<link rel="import" href="../../../../vendor/polymer/polymer.html">
<link rel="import" href="../../../../vendor/google-chart/google-chart.html">

<!-- style module -->
<link rel="import" href="styles/sandbox-demo-first-sub-page-styles.html">

<dom-module id="sandbox-demo-first-sub-page">
  <template>
    <style include="sandbox-demo-first-sub-page-styles"></style>

    <div>
      <p>First tab.</p>
    </div>

    <google-chart
      type='pie'
      options='{"title": "Distribution of days in 2001Q1"}'
      cols='[{"label":"Month", "type":"string"}, {"label":"Days", "type":"number"}]'
      rows='[["Jan", 31],["Feb", 28],["Mar", 31]]'>
    </google-chart>

  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'sandbox-demo-first-sub-page'
      });
    })();
  </script>
</dom-module>
