<link rel="import" href="../../../vendor/polymer/polymer.html">

<!-- style module -->
<link rel="import" href="styles/sandbox-demo-text-sub-page-styles.html">

<dom-module id="sandbox-demo-text-sub-page">
  <template>
    <style include="sandbox-demo-text-sub-page-styles"></style>

    <div>
      <p>Some other text tab.</p>
    </div>

  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'sandbox-demo-text-sub-page'
      });
    })();
  </script>
</dom-module>
